.container-categories {
    margin-left: 31px;
  }
  
  .product-title {
    margin-top: -55px;
      margin-bottom: 21px;
  }
  
  .container-categories-table {
    width: 1027px;
    margin-left: 33px;
  }
  
  .m-0 {
    height: 970px;
  }
  
  .right {
    margin-bottom: 50px;
  }