.container-upload {
  position: relative;
}

.container-upload-custom {
  background-color: var(--placeholder);
  border-radius: 12px;
  width: 379px;
  height: 379px;
  margin-left: 417px;
}

.custom-upload {
  border-radius: 6px;
  width: 172px !important;
  height: 45px;
  position: absolute;
  left: 624px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-upload > input {
  display: none !important;
}

.form-row {
  width: 609px;
  margin-left: 243px;
  margin-top: 28px;
}

.star-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #21374a;
  width: 39px;
  height: 39px;
}

.star-button > i {
  color: var(--tph-text-secondary);
  font-size: 20px;
}

.long-col {
  margin-bottom: 24px;
  margin-left: 11px;
}

.col-no-var {
  margin-bottom: 11px;
  margin-left: 33px;
}

.col-var-inputs {
  margin-left: 11px;
  margin-bottom: 13px;
}

.col-add-var {
  margin-bottom: 24px;
  margin-left: 20px;
  margin-top: 7px;
}

.add-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #21374a;
  width: 26px;
  height: 26px;
}

.add-button > i {
  color: var(--tph-text-secondary);
  font-size: 20px;
  margin-top: 1px;
}

.no-var-cap {
  font-size: 16px;
  color: #64798b;
  margin-top: 2px;
}

.add-var-cap {
  font-size: 16px;
  color: #64798b;
  margin-top: 2px;
  margin-left: 5px;
}

.ship-cap {
  margin-top: 12px;
  margin-left: 23px;
}

.ship-color {
  font-size: 16px;
  color: #b9c7d3;
}

.ship-div {
  margin-bottom: 53px;
  margin-left: 11px;
  margin-top: 5px;
}

.row-btns {
  width: 609px;
  margin-left: 245px;
  margin-top: 27px;
}

.drafts-button {
  width: 286px !important;
  height: 45px !important;
  border-radius: 6px;
  font-size: 21px;
  color: #b9c7d3;
  margin-left: 7px;
}

.publish-button {
  width: max-content;
  height: 45px !important;
  border-radius: 6px;
  font-size: 21px;
  padding: 10px;
  margin-left: 60px;
}

.img-custom-upload {
  width: 100%;
  height: 100%;
}

.add-listing.custom-upload {
  bottom: 0;
  right: 0;
  position: absolute;
}

.variation-row {
  margin-bottom: 20px;
}

#previewImg {
  border-radius: 10px;
}

.bottom {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
