.long-input {
  width: 515px;
  height: 45px;
}

.descript-input {
  width: 515px;
  height: 177px;
  border-radius: 25px;
}

.variation-input {
  width: 353px;
  height: 45px;
  margin-left: 11px;
}

.stock-input {
  width: 153px;
  height: 45px;
  margin-left: 8px;
}

.shipping-input-city {
  width: 249px;
  height: 45px;
  margin-left: 11px;
}

.shipping-input-barangay {
  width: 249px;
  height: 45px;
  margin-left: 17px;
}