.container-register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1100px; 
  height: max-content;
  margin-left: 34px;
}

.container-register.register-prompt {
  padding-right: 100px;
  margin-bottom: 180px;
}

.container-register.register-form {
  background-color: var(--tph-secondary);
  width: 1005px;
  margin-left: 70px;
  padding: 38px 113px 60px 113px;
}

.container-register.register-process {
  display: flex;
  justify-content: center;
  align-items: center;
}