.shop-modal-dialog ::-webkit-scrollbar {
  width: 10px;
}

.shop-modal-dialog ::-webkit-scrollbar-track {
  background: transparent;
}

.shop-modal-dialog ::-webkit-scrollbar-thumb,
.shop-modal-dialog ::-webkit-scrollbar-thumb:hover {
  background: var(--tph-tertiary);
  border-radius: 10px;
  background-clip: padding-box;
}