.border-primary {
  color: var(--tph-primary) !important;
}

.border-secondary {
  color: var(--tph-secondary) !important;
}

.border-tertiary {
  color: var(--tph-tertiary) !important;
}

/* BORDER COLOR HELPER CLASSES */