.order-header {
  border-bottom: 1px solid #21374A;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.order-header-details {
  display: inline-flex;
  align-items: baseline;
  margin-bottom: 5px;
}

.order-header-count {
  color: var(--tph-text-secondary);
  margin-left: 8px; 
  font-style: 16px;
  line-height: 27px;
}

.order-header-price {
  color: var(--tph-text-highlight);
  font-weight: 700;
}

.order-product-group {
  border-bottom: 1px solid #21374A;
}

.order-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #21374A;
  border-bottom: 1px solid #21374A;
  width: 100%;
  padding: 12px 40px 12px 75px;
}

.order-product-details {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.order-product-img {
  width: 50px;
  height: 50px;
}

.order-product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 22px;
  height: inherit;
}

.order-product-name,
.order-product-variation,
.order-product-quantity {
  line-height: 16px;;
}

.order-product-variation {
  color: var(--tph-text-secondary)
}

.order-product-status {
  background-color: var(--tph-text-highlight);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  width: max-content;
  height: 45px;
  padding: 10px;
  text-transform: uppercase;
  margin-top: 27px;
}