.container-orders {
  display: flex;
  padding-left: 65px;
  height: min-content;
}

.container-orders-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 872px;
}

.container-orders-filter {
  display: flex;
  flex-direction: column;
  background-color: var(--tph-secondary);
  border-radius: 12px;
  width: 250px;
  height: 333px;
  margin-left: 55px;
  padding: 20px 36px;
}

.orders-group {
  background-color: var(--tph-secondary);
  border-radius: 12px;
  width: 872px;
  padding: 35px 68px;
  margin-bottom: 30px;
}
