.left {
  max-width: 435px;
  padding: 0;
}

.right {
  margin-top: 72px;
  margin-left: 61px;
  padding-right: 126px;
  max-width: calc(100% - 435px) !important;
  min-height: calc(100% - 72px);
}

.container-display {
  height: min-content;
  margin-bottom: 86px;
}

.container-product-feed {
  width: 1130px !important;
  padding-left: 82px;
}