.pagination {
  width: 1130px;
  margin-top: 57px;
  margin-bottom: 36px;
  justify-content: center;
}

.pagination > li {
  border-radius: 6px;
  margin: 0 1px;
}

.pagination > li > a {
  background-color: var(--tph-secondary);
  border: var(--tph-primary);
  color: #64798b;
  font-size: 18px;
  outline: none;
  box-shadow: none;
}

.pagination > li > a:hover,
.pagination > li > a:focus {
  background-color: var(--tph-tertiary);
  color: #64798b;
  outline: none;
  box-shadow: none;
}

.page-link.current,
.page-link.current:hover {
  background-color: var(--tph-secondary);
  pointer-events: none;
  color: var(--tph-text-highlight);
}
