.sidenav {
  background-color: var(--tph-secondary) !important;
  box-shadow: -4px -4px 47px -3px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  width: 310px;
  margin-top: 71px;
  margin-left: 126px;
  padding-top: 51px;
}

.sidenav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  width: 208px;
  height: 41px;
  margin-left: 57px;
}

.sidenav-header-img {
  background-color: var(--placeholder) !important;
  border-radius: 50%;
  height: 41px;
  width: 41px;
}

.sidebar-header-text {
  display: flex;
  flex-direction: column;
}

.sidenav-header-text > div {
  color: var(--tph-highlight) !important;
  line-height: 36px;
  font-weight: 800;
}

.sidenav-header-text > div:nth-child(2) {
  line-height: 10px;
  height: 18px;
  font-size: 14px !important;
}

.sidenav-links {
  margin-top: 33px;
  margin-left: 31px;
  padding-bottom: 82px;
}

.sidenav-link {
  border-radius: 30px 0 0 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 35px;
  width: 278px;
  height: 56px;
}

.sidenav-link-text {
  font-size: 24px;
  line-height: 36px;
}

.sidenav-link-icon {
  width: 30px;
  height: 30px;
  font-size: 30px;
  margin-right: 25px;
}

.sidenav-link:hover {
  cursor: pointer;
}

.sidenav-link:hover .sidenav-link-icon {
  color: var(--tph-text-highlight) !important;
}

.sidenav-link:hover .sidenav-link-text {
  color: var(--tph-text-highlight) !important;
}

.sidenav .active {
  background-color: var(--tph-tertiary) !important;
  color: var(--tph-text-highlight) !important;
}

.sidenav .active:hover {
  cursor: default;
}

.sidenav .active > .sidenav-link-icon {
  color: var(--tph-text-highlight);
}

.sidenav .active > .sidenav-link-text {
  color: var(--tph-text-tertiary) !important;
  font-weight: 700;
}
