.checkout-process-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 23px;
}

.checkout-process-form > .for-validation > input.form-control {
  border-radius: 73px;
  width: 389px;
  height: 45px;
}

.checkout-process-form > button {
  margin-top: 23px;
}

.inline-form {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.inline-form > .for-validation {
  width: 324px;
  height: 45px;
}

.inline-form > .for-validation > input.form-control,
.inline-form > select {
  border-radius: 73px;
  width: 324px;
  height: 45px;
}

.inline-form > select {
  text-overflow: ellipsis;
}

#street {
  width: 668px;
}

.form-contact-number.checkout {
  width: max-content;
}

.form-contact-number.checkout > input {
  width: 389px;
  height: 45px;
}
