.account-modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 450px;
  height: 50px;
}

.account-modal-header:hover {
  cursor: pointer;
}

.account-modal-header > i {
  font-size: 16px;
  transform: scale(1.15,1);
}

.account-label {
  color: #64798B !important;
  width: max-content;
  height: auto !important;
  margin-left: 13px;
  margin-bottom: 5px;
}

.account-data {
  display: flex;
  flex-direction: column;
  margin-left: 62px;
  margin-top: 25px;
}

.account-item:first-of-type {
  border-bottom: 0 !important;
}

.account-item {
  display: flex;
  width: 379px;
  height: 76px;
  border-top: 2px solid var(--tph-tertiary);
  border-bottom: 2px solid var(--tph-tertiary);
  justify-content: space-between;
  padding: 23px 17px; 
  align-items: center;
}

.account-item:hover {
  background-color: var(--tph-tertiary);
  cursor: pointer;
}

.account-item-detail > p:first-of-type {
  color: var(--tph-text-highlight);
  font-weight: bold;
  font-size: 18px;
  margin-top:5px;
}

.account-email {
  color: var(--tph-text-secondary);
  font-size: 14px;
  margin-top: -19px;
}

.account-redirect > i {
  color: var(--tph-text-secondary);
  font-weight: bold;
}

.account-forms {
  margin-left: 84px;
  justify-content: center;
  align-items: center;
}

.account-new-email > form > button,
.account-new-password > form > button {
  width: 316px;
}