.settings-modal-content {
  padding: 0px !important;
  display: flex;
  justify-content: center;
  width: 503px;
  height: 703px ;
}

.settings-modal-content {
  background-color: transparent !important;
}

.settings {
  margin: 1.75rem auto !important;
}

.tab-content {
  background: var(--tph-secondary) !important;

}

.settings-tab-content {
  border-radius: 0px 12px 12px 12px !important;
  border-collapse: separate !important;
  width: 503px;
  height: 703px;
}
