.body {
  display: flex;
  flex-direction: row;
  margin-left: 254px;
  margin-top: 32px;
  height: 687px;
}

.body-banner {
  width: 798px;
  height: 465px;
  margin-top: 108px;
}

.body-login,
.body-signup {
  margin-top: 90px;
  margin-left: 178px;
  width: 461px;
  height: 496px;
  background-color: var(--tph-secondary);
  box-shadow: -2px -2px 47px -3px rgba(0, 0, 0, 0.25);
  padding: 65px 68px;
  text-align: center;
  justify-content: center;
  display: inline;
}

.body-login-title,
.body-signup-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 41px;
}

.body-login-signup-link {
  margin-top: 60px;
  font-size: 18px;
}

.body-signup-login-link {
  font-size: 18px;
}

.body-login-signup-link > a,
.body-signup-login-link > a {
  color: var(--tph-text-highlight);
}

.body-login-signup-link > span:hover,
.body-signup-login-link > span:hover {
  color: var(--tph-button-hover);
  cursor: pointer;
}

.body-signup {
  height: 687px;
  width: 461px;
  margin-top: 0;
  padding: 50px 68px;
}

.body-signup-terms {
  margin-top: 18px;
  margin-bottom: 35px;
  font-size: 12px;
}

.copyright {
  margin-top: 150px;
  justify-content: center;
}
